<Application resource-id="rustdesk"><!-- 'resource-id' must be AppName -->
  <Name>RustDesk Services</Name><!-- Any desciptive name, upto 48 chars -->
  <Author>Shaan</Author><!-- Authors name. upto 48 chars -->
  <Version>1.0.0</Version><!-- Version -->
  <RequireReboot>0</RequireReboot><!-- If non-zero, it indicates reboot is required. -->
  <ConfigURL></ConfigURL><!-- 'localhost' will be replaced by framework JS. -->
  <LaunchURL>http://localhost:21114</LaunchURL><!-- 'localhost' will be replaced by framework JS. -->
  <InfoURL>https://github.com/rustdesk/rustdesk-server</InfoURL>
  <ServiceName>fvapp-rustdesk.service</ServiceName><!-- If start/stop need to start/stop service, specify service name -->
  <ReservePort>21114</ReservePort>
  <DebianPackage>rustdesk-server-hbbs:armhf</DebianPackage>
  <Description lang="en-us">Runs RustDesk ID, Relay and API servers under ReadyNAS</Description>
</Application>